[Unit]
Description=Talend JobServer Service
After=network.target
[Service]
WorkingDirectory=/opt/talend/jobserver/
ExecStart=/bin/bash start_rs.sh
ExecStop=/bin/bash stop_rs.sh
Type=simple
User={{ run_as_user }}
[Install]
WantedBy=default.target